<a href="https://colab.research.google.com/github/daniel692a/colab/blob/main/list_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comprensión de listas

In [1]:
countries = [ 'mexico', 'french', 'japan', 'poland']

Countries = []
for country in countries:
    Countries.append(country.capitalize())
Countries

['Mexico', 'French', 'Japan', 'Poland']

Veamos como crear la misma lista pero con menos líneas de código:

In [2]:
countries_capitalize = [ c.capitalize() for c in countries ]
countries_capitalize

['Mexico', 'French', 'Japan', 'Poland']

Incluso se puede hacer con la misma lista:

In [4]:
countries = [ p.capitalize() for p in countries]
countries

['Mexico', 'French', 'Japan', 'Poland']

In [7]:
sqrt = [ x**2 for x in range(1,11)]
sqrt

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

También podemos usar condicionales:

In [9]:
even_numbers = [ n for n in range(0, 21) if n % 2 == 0 ]
even_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Incluso podemos usar ciclos anidados:

In [18]:
blend = [ (i,j) for i in range(1,7) for j in range(1,7)]
blend

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

# Diccionarios

In [20]:
cubes = { x: x**3 for x in range(1,11)}
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [21]:
number = int(input('Input a number'))
tables = { f'{number}x{i}': number*i for i in range(1, 11)}
print(tables)

Input a number7
{'7x1': 7, '7x2': 14, '7x3': 21, '7x4': 28, '7x5': 35, '7x6': 42, '7x7': 49, '7x8': 56, '7x9': 63, '7x10': 70}